<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="Offical" />
    <remove name="Test" />
    <remove name="SessionConn" />
    <!--<add name="LocalMySqlServer" connectionString="Server=50.62.209.50;Port=3306;Database=Baby;userid=baby;password=123456;charset=utf8;"
         providerName="MySql.Data.MySqlClient" />-->
    <add name="Offical" connectionString="Server=50.62.209.43;Port=3306;Database=Baby;userid=baby;password=123456;charset=utf8;"
         providerName="MySql.Data.MySqlClient" />
    <add name="Test" connectionString="Server=50.62.209.43;Port=3306;Database=Baby2;userid=baby;password=123456;charset=utf8;"
         providerName="MySql.Data.MySqlClient" />
    <add name="SessionConn" connectionString="Server=50.62.209.43;Port=3306;Database=Baby;userid=baby;password=123456;charset=utf8;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <machineKey validation="3DES" validationKey="542320408E204DB5B6EC14D34D810FDF1234567890123456"
         decryptionKey="DEB709968A30455AA7596F2F7821EFE01234567890123456" decryption="3DES"/>

    <sessionState cookieless="false"
           regenerateExpiredSessionId="true"
           mode="Custom"
           customProvider="SessionConnProvider"
                  >
      <providers>
        <add name="SessionConnProvider"
           type="MySql.Web.SessionState.MySqlSessionStateStore, MySql.Web, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
           connectionStringName="SessionConn"
           description="MySQL Session State"
           writeExceptionsToEventLog="False"
           autogenerateschema="True"
           enableExpireCallback="False" />
      </providers>
    </sessionState>
    
    <httpRuntime maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" 
                 minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>

  </system.web>
</configuration>
