<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <!--<appSettings>
      --><!--<add key="SqlConnStr" value="Server=localhost;Database=Baby;Uid=baby;Pwd=123456;Port=3306;"/>--><!--
      --><!--<add key="SqlConnStr" value="Server=50.62.209.50;Port=3306;Database=Baby;userid=baby;password=123456;charset=utf8;"/>--><!--
      --><!--<add key="SqlConnStr" value="Server=184.168.194.60;Database=Baby2;user id=baby;password=123456;"/>--><!--
      <add key="SqlConnStr" value="Server=50.62.209.50;Port=3306;Database=Baby;userid=baby;password=123456;charset=utf8;"/>

    </appSettings>-->
  
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="Server=50.62.209.50;Port=3306;Database=Baby;userid=baby;password=123456;charset=utf8;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--<httpRuntime targetFramework="4.0"/>-->

    <!--<sessionState mode="StateServer" cookieless="false" timeout="30"/>-->

    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true"
                  sqlConnectionString="server=184.168.194.60;uid=baby;password=123456;initial catalog=Baby2"
                  cookieless="false"
                  timeout="20">
    </sessionState>-->
    
    <sessionState cookieless="false"
       regenerateExpiredSessionId="true"
       mode="Custom"
       customProvider="MySqlSessionStateProvider"
                  >
      <providers>
        <add name="MySqlSessionStateProvider"
           type="MySql.Web.SessionState.MySqlSessionStateStore, MySql.Web, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"
            ConnectionStringName="LocalMySqlServer"
            description="MySQL Session State"
            writeExceptionsToEventLog="False"
            autogenerateschema="True"
            enableExpireCallback="False"
             />
        
        <!--applicationName="/"
        description="MySQL Session State"
        connectionStringName="SqlConnStr"
        writeExceptionsToEventLog="False"
        autogenerateschema="True"
        enableExpireCallback="False"-->
        
      </providers>
    </sessionState>

  </system.web>

  <!--<system.data>

    <DbProviderFactories>

      <clear/>

      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

    </DbProviderFactories>

  </system.data>-->
  
</configuration>